body
{
 color: ; 
 background-image: url("imgs/water.jpg");
 
}

element.style
{
 color: ;
}

form
{
 background-color: azure;
 width: 50%;
 border:solid;
}

.header
{
    border: solid;
    width: 50%;
    background-image: url("imgs/sand.jpg");
}


h1
{
    border: solid;
 width: 50%; 
 background-color: azure;
}

h3
{
 background-color: azure;
 width: 50%;
}

iframe
{
    border: solid;
    width: 50%;
    height: 800px;
    overflow: scroll;
    float: right;
    background-color: white;
}

input#submit
{
    background-color: pink;
}


td
{
 border-style: solid;
 border-width: 3px;
}

table
{
 border-collapse: collapse;
 width: 50%;
 background-color: azure;
}

td:empty
{
 border: 0;
}

.day
{
 font-size: x-large;
 font-weight: bold;
 margin-top: 15px;
}

.person_image
{
 width: 80px;
 height: 110px;
}

h1~div
{
 color:black;
 width: 50%;
 border: solid;
 background-color: azure;
}

h1~div.day-box.COMPLETED
{
 background-color: red;
}
