body
{
 color: ; 
 background-image: url("imgs/water.jpg");
 
}


div.reading
{
 width: 50% ; 
}


element.style
{
 color: ;
}


.header
{
    border: solid;
    width: 50%;
    background-image: url("imgs/sand.jpg");
}


h1
{
    border: solid;
 width: 50%; 
}


.reading
{
    border: solid;
    width: 50%;
}


.reading-box
{
 
}


.day-box PREP
{
    
}


.day-box CURRENT
{
    
}


.assignment_link
{
    border: solid;
 width: 50%;
}


.assignemtnWidget ASSIGNED
{
    border: solid;
 width: 50%
}


.assignement-title
{
    border:solid;
 width:50%;
}


.day-box COMPLETED
{
   
}


.lab-box
{
    border: solid;
 width:50%;
}


.special
{
  width:50%;  
}


iframe
{
    border: solid;
    width: 50%;
    height: 800px;
    overflow: scroll;
    float: right;
    background-color: white;
}


.assignment_form
{
    border:solid;
 width: 50%;
}


.assignment_title
{
    border: solid;
 width: 50%;
}


.assignment_prompt
{
    border:solid;
 width:50%;
}


input#submit
{
    background-color: pink;
}


td
{
 border-style: solid;
 border-width: 3px;
}

table
{
 border-collapse: collapse;
 width: 50%;
 background-image: url("imgs/sand")!;
}

td:empty
{
 border: 0;
}

.prep-box
{
 border: solid;
 width: 50%;
}

.grading-box
{
 border: solid;
 width: 50%;
}

.day
{
 font-size: x-large;
 font-weight: bold;
}

.day
{
 margin-top: 15px;
}

.person_image
{
 width: 80px;
 height: 110px;
}

form
{
 background-color: azure;
}
