body
{
 color: #24365E; 
 background-image: url("imgs/water.jpg");
 font-size: 18px;
}

form
{
 background-color: #BCE2F5;
 width: 50%;
 border:solid;
}

.header
{
    border: solid;
    width: 50%;
    background-image: url("imgs/sand.jpg");
}


h1,h2
{
 border: solid;
 width: 50%; 
 background-color: #BCE2F5;
}

h3
{
 background-color: #BCE2F5;
 width: 50%;
}

iframe
{
    border: solid;
    width: 45%;
    height: 800px;
    overflow: scroll;
    background-color: white;
 position: absolute;
 top: 5%;
  left: 52%;
}

td
{
 border-style: solid;
 border-width: 3px;
}

table
{
 border-collapse: collapse;
 width: 45%;
 background-color: #BCE2F5;
}

td:empty
{
 border: 0;
}

.day
{
 font-size: x-large;
 font-weight: bold;
 margin-top: 15px;
}

.person_image
{
 width: 80px;
 height: 110px;
}

h1~div
{
 width: 50%;
 border: solid;
 background-color: #BCE2F5;
 padding-bottom: 40px;
}

h1~div.day-box.PREP
{
 background-color: #FEE9D6;
}

h1~div.day-box.CURRENT
{
 background-color: #DAC4AD;
}

h1~div.day-box.COMPLETED
{
 background-color: #BCE2F5;
}

.prompt
{
 width: 50%;
 background-color: #BCE2F5;
 color: red;
 float: left;
 clear: left;
}

.assignment_prompt
{
 background-color: #BCE2F5;
 color: green;
 float: left;
 clear: left;
 border-bottom-style: double;
 width: 100%;
}

.view_text
{
   background-color: #BCE2F5;
 color: purple;
 float: left;
 clear: left;
 width: 50%
}

.assignment-title, .assignement_title
{
   background-color: #BCE2F5;
    Font-size: x-large;
    font-weight: bold;
 color: yellow;
 float: left;
 clear: left;
 width: 50%;
 border-bottom-style: double;
}

.grade-table
{
 float:left;
 clear: left;
 width: 50%
}

.question div, form .prompt, body > form > div.question > div.rubric_score > table
{
 color: #24365E;
 clear: left;
 width: 100%;
 margin-top: 5px;
 margin-bottom: 5px;
}

div.graded-assignment
{
 background-color: #BCE2F5;
    width: 20%;
    border: solid;
    margin-bottom: 20px;
    font-size: larger;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

div.day-box .assignment-title
{
    width: 100%;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
 color: orange;
}

div.day-box+div.assignment-title
{
    width: 100%;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
 color: orange;
 border-bottom-style: double;
}

.person_info
{
 background-color: #BCE2F5;
 border: solid;
 width: 25%;
 border-radius: 15px;
 padding: 10px;
}

.header .person_info
{
 border: none;
 background-color: transparent;
}

textarea
{
 width: 600px;
}

label
{
 float: left;
  clear: both;
}

body > form > div.assignment_title
{
 background-color: #BCE2F5;
    Font-size: x-large;
    font-weight: bold;
 color: yellow;
 float: left;
 clear: left;
 width: 50%;
}

input[type=submit]
{
 background-color: green;
}

svg
{
background-image: url(imgs/island.jpg);
    padding: 50px;
    margin: 50px;
    border: solid;
    border-width: 50px;
    border-image: url(imgs/sand.jpg) 30 round;
}

h3 + .grade
{
 
 border-style: solid;
 background-color: #BCE2F5 ;
 width: 45%;
}
 

table .person_info {
    background-color: #BCE2F5;
    border: solid;
 width: 50%;
    border-radius: 15px;
    padding: 10px;
}

a:hover, a:active
{
 background-color: yellow !important;
 color: green;
}

.day-box.CURRENT .grading-box, .day-box.COMPLETED .grading-box
{
 border-top-style: double;
 padding-top: 7px;
}

